.advantages {
  padding: 48px 0 29px 0;
  background-color: $silver-100;

  &__items {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    @include r(1200) {
      justify-content: space-around;
    }

    @include r(992) {
      justify-content: flex-end;
    }

    @include r(612) {
      flex-direction: column;
      align-items: flex-start
    }
  }

  &__item {
    @extend %flex-column;
    line-height: 1.4;
    max-width: 190px;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 139px;

    &:first-child {
      margin-left: 259px;
      margin-right: 139px;

      @include r(1200) {
        margin-left: 30px;
        margin-right: 30px;
      }

      @include r(992) {
        margin-left: 77px;
        margin-right: 20px;
      }

      @include r(725) {
        margin-right: 0;
      }

      @include r(576) {
        margin-left: 74px;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      @extend %positioning-icons;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: -74px;
    }

    @include r(1200) {
      margin: 0;
    }

    @include r(992) {
      margin-left: 77px;
      margin-right: 0;
    }

    @include r(612) {
      margin-bottom: 30px;
    }

    @include r(576) {
      margin-bottom: 29px;
      margin-left: 74px;
      max-width: 220px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item--scooter::before {
    background-image: url('../images/scooter.svg');
  }

  &__item--product::before {
    background-image: url('../images/product.svg');
  }

  &__item--24-hours::before {
    background-image: url('../images/24-hours.svg');
  }

  &__title {
    font-size: 16px;
    margin-bottom: 7px;
  }
  
  &__text {
    color: $dark-500;
    font-weight: 400;
  }

  @include r(576) {
    padding: 31px 0;
  }
}