.categories {
  padding-bottom: 72px;

  &__items {
    display: grid;
    min-height: 300px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @include r(992) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }

    @include r(790) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    @extend %positioning-img;
    text-transform: uppercase;
    color: $dark-500;

    &-text {
      display: block;
      @extend %opensans-700;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 0.1em;
      margin: 76px 0 18px 32px;

      @include r(992) {
        margin-left: 15px;
        margin-bottom: 17px;
      }
    }

    &-title {
      display: block;
      @extend %ruda-600;
      font-size: 30px;
      line-height: 1.4;
      max-width: 160px;
      margin: 0 0 7px 32px;

      @include r(992) {
        font-size: 24px;
        margin-left: 15px;
        max-width: 155px;
        width: 100%;
        margin-bottom: 75px;
      }
    }

    &-link {
      @extend %opensans-700;
      font-size: 14px;
      line-height: 1;
      padding-bottom: 4px;
      margin-left: 32px;
      border-bottom: 2px solid $dark-500;

      @include r(992) {
        margin-left: 15px;
      }

      @include r(790) {
        display: inline-block;
        margin-bottom: 30px;
        padding-bottom: 5px;
      }
    }

    &:nth-child(1) {
      grid-column: span 2;
      color: $white;

      @include r(992) {
        grid-column: span 1;
      }
    }

    &:first-child h3 {
      max-width: 346px;

      @include r(992) {
        max-width: 240px;
        width: 100%;
      }
    }

    &:first-child a {
      border-color: $white;
    }

    @include r(992) {
      border-radius: 6px;
      background-position-x: 18%;
    }
  }

  @include r(576) {
    padding-bottom: 48px;
  }
}