html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: $dark-900;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

// .body--hidden {
//   overflow: hidden;
// }

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  border-radius: 6px;
  color: $white;
  background-color: #63A60E;
  padding: 12px 24px;
  outline: transparent;
  transition: box-shadow linear 0.2s, background-color linear 0.2s, color linear 0.2s;

    &:focus {
      box-shadow: 0 0 0 4px #E0EDCF;
    }

    &:hover {
      background-color: #4D810C;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }

    @include r(768) {
      font-size: 14px;
    }
}

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  @extend %ruda-600;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: $dark-900;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 72px;
  text-transform: uppercase;
}

.btn-heart {
  @extend %positioning-icons;
  position: absolute;
  display: flex;
  align-items: center;
  outline: transparent;
  padding: 9px 6px 6px 6px;
  transition: box-shadow linear 0.2s, border-radius linear 0.2s;
  &:focus {
    box-shadow: 0 0 0 3px #E0EDCF;
    border-radius: 3px;
  }
  &:hover { 
    stroke: $yellow-900;
  }
  &:active {
    stroke: rgba(255, 184, 0, 0.5);
  }
}