.promotions {
  text-align: center;
  background-color: #F5F5F5;
  padding-bottom: 72px;

  &__title {
    @include r(992) {
      padding-top: 48px;
      margin-bottom: 24px;
      font-size: 24px;
    }
  }

  &__list {
    li {
      margin-right: 30px;
    }

    @include r(992) {
      margin-bottom: 11px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 45px;

    @include r(1200) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include r(992) {
      grid-gap: 15px;
    }

    @include r(935) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r(640) {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 25px 26px 23px;
    }
  }

  &__badges {
    top: 13px;
  }
  
  &__item {
    text-align: left;
    letter-spacing: 0.03em;
    color: $dark-900;
    position: relative;
  }

  &__button {
    @include r(576) {
      font-size: 18px;
      margin-left: 9px;
      padding: 11px 24px;
    }
  }

  @include r(768) {
    padding-bottom: 48px;
  }
}

.promotions-card {
  display: flex;
  height: 100%;
  background-color: $white;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border-color linear 0.2s;

  &:hover {
    border-color: $green-900;
  }

  &__images {
    padding: 13px 0 11px 12px;

    @include r(640) {
      padding-top: 11px;
    }
  }

  &__img {
    object-fit: contain;
    height: 100%;
  }

  &__info {
    padding: 11px 12px 11px 8px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__name {
    margin-bottom: 22px;
    flex: 1 1 auto;
    padding-left: 3px;
    max-width: 165px;
    width: 100%;

    @include r(576) {
      max-width: 167px;
    }
  }

  &__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: $dark-900;
    @include line-clamp(3);
  }
  
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;
    position: relative;

    &-star {
      font-weight: 700;
      margin-right: 20px;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 15px;
        mask: url('../images/sprite.svg#icon-star') center / cover no-repeat;
        background-color: $yellow-900;
        top: 0;
        right: -19px;
      }
    }
  }

  &__price {
    flex-direction: row;
    align-items: flex-end;

    li {
      font-size: 20px;
      font-weight: 600;

      &:first-child {
        position: relative;
        margin-right: 24px;

        span {
          font-size: 14px;
          position: absolute;
          top: 6px;
          right: -9px;
        }
      }

      &:last-child {
        font-size: 12px;
        font-weight: 400;
      }
    }

    @include r(576) {
      margin-left: 2px;
    }
  }
}

.availability {
  position: absolute;
  top: -16px;
  left: 3px;

  &__item {
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #63A60E;
    text-transform: uppercase;
    display: none;

    &--leftover {
      color: $red-900;
    }

    &--ended {
      color: $silver-600;
    }

    &--on {
      display: block;
    }
  }
}