.shop {
  &__title {
    font-family: 'Ruda-Bold', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #121212;
    margin: 48px 0;

    @include r(992) {
      font-size: 30px;
      margin: 32px 0 30px 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 73px;

    @include r(768) {
      margin-bottom: 10px;
    }
  }
}

.shop-filters {
  margin-right: 32px;

  &__item {
    width: 300px;
    border: 1px solid $silver-600;
    border-radius: 6px;
    margin-bottom: 30px;

    &:nth-child(3) {
      .shop-filters__list-item {
        margin-bottom: 12px;
      
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 9px;

      .shop-filters__btn {
        padding: 14px 0 15px 17px;

        &::before {
          top: 26px;
        }
      }
    }
  }

  &__btn {
    font-family: 'Ruda-Regular', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $dark-900;
    padding: 17px 0 17px 17px;
    border-bottom: 1px solid $silver-600;
    position: relative;
    width: 100%;
    text-align: left;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 14px;
      height: 14px;
      border-top: 2px solid #C1C1C1;
      border-right: 2px solid #C1C1C1;
      transform: rotate(-45deg);
      top: 29px;
      right: 25px;
    }
  }

  &__list {
    padding: 18px 0 17px 17px;
    max-height: 299px;
    overflow: scroll;
  }

  &__list-item {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $dark-500;
    margin-bottom: 12px;
    
    &:nth-child(3) {
      margin-bottom: 11px;
    }

    &:nth-child(4) {
      margin-bottom: 11px;
    }
    
    &:nth-child(5) {
      margin-bottom: 11px;
    }

    &:nth-child(7) {
      margin-bottom: 7px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;

    &:hover {
      .shop-filters__checkbox {
        border-color: $dark-500;
      }
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked + .shop-filters__checkbox {
      border-color: $dark-500;
      background-image: url('../images/check-on.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
    transition: border-color linear 0.2s;
  }

  &__text {
    margin-left: 12px;
  }

  &__label--price {
    margin-top: 23px;
    margin-left: 18px;
    align-items: center;
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $silver-600;

    span {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__input-from,
  &__input-to {
    max-width: 80px;
    width: 100%;
    height: 40px;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;
    text-align: center;
    margin-left: 4px;
    margin-right: 7px;
    outline: transparent;
    transition: box-shadow linear 0.2s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }
  }

  @include r(992) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    transform: translateY(-200%);
    transition: transform linear 0.4s;
  }
}

.shop-filters--active {
  transform: translateY(0);
}

.irs--round {
  padding: 0 18px;
}

.irs-min, .irs-max, .irs-from, .irs-to, .irs-single {
  display: none;
}

.irs--round .irs-handle {
  width: 18px;
  height: 18px;
  background-color: $green-900;
  border-radius: 50%;
  border: none;
  top: 24px;

  &:hover {
    background-color: $green-900;
  }
}

.irs--round .irs-handle.state_hover {
  background-color: $green-900;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--round .irs-bar {
  height: 2px;
  background-color: $green-900;
  top: 32px;
}

.irs--round .irs-line {
  height: 2px;
  background-color: #C4C4C4;
  top: 32px;
}

.shop-content {
  width: 100%;

  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 48px;

    @include r(576) {
      justify-content: flex-start;
      margin-bottom: 30px;
    }
  }

  &__top-item {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {
      display: none;

      @include r(992) {
        display: block;
      }
    }
    
    &:nth-child(n+4) {
      .shop-content__top-btn {
        width: 47px;
        height: 47px;
        background-color: $silver-100;

        &::before {
          content: "";
          display: block;
          position: absolute;
          background-color: $silver-600;
          transition: background-color linear 0.2s;
        }
      }

      .shop-content__top-btn--active {
        &::before {
          background-color: $green-900;
        }
      }
    }

    &:nth-child(4) {
      .shop-content__top-btn {
        &::before {
          width: 36px;
          height: 34px;
          top: 7px;
          left: 6px;
          mask: url('../images/sprite.svg#btn-view-grid') center / cover no-repeat;
        }
      }
    }

    &:nth-child(5) {
      .shop-content__top-btn {
        &::before {
          width: 35px;
          height: 35px;
          top: 5px;
          left: 7px;
          mask: url('../images/sprite.svg#btn-view-list') center / cover no-repeat;
        }
      }
    }

    @include r(576) {
      margin-right: 10px;
    }
  }

  &__top-btnFilter {
    width: 47px;
    height: 47px;
    background-color: $silver-100;
    border-radius: 3px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 32px;
      height: 36px;
      top: 5px;
      left: 7px;
      background-image: url('../images/filters-btn.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__top-btn {
    border-radius: 3px;
    position: relative;

    @include r(992) {
      display: none;
    }
  }

  &__products {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;

    .products-card__images {
      @include r(1200) {
        padding-bottom: 50%;
      }

      @include r(576) {
        padding-bottom: 71%;
      }
    }

    .products-card__img {
      object-fit: contain;
    }

    .availability {
      top: 66%;
      left: 17px;

      @include r(1047) {
        top: 62%;
      }

      @include r(576) {
        top: 58%;
      }

      @include r(460) {
        top: 54%;
      }

      @include r(376) {
        top: 50%;
        left: 12px;
        
        span {
          font-size: 8px;
        }
      }
    }

    .promotions-card__bottom-star {
      top: 66%;
      right: 16px;
      position: absolute;
      line-height: 1;

      @include r(576) {
        top: 58%;
      }

      @include r(460) {
        top: 53%;
        right: 6px;
      }

      @include r(376) {
        font-size: 10px;
        top: 50%;
        right: 8px;

        &::before {
          width: 12px;
          height: 12px;
          top: -2px;
          right: -15px;
        }
      }
    }

    .products-card__info {
      @include r(1200) {
        margin-top: 15px;
      }

      @include r(376) {
        margin-top: 2px;
      }
    }

    .products-card__name {
      @include r(1200) {
        max-width: 235px;
      }

      @include r(992) {
        max-width: 100%;
      }

      @include r(768) {
        max-width: 235px;
      }

      @include r(680) {
        max-width: 146px;
      }
    }

    @include r(1200) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r(768) {
      grid-gap: 15px;
      margin-bottom: 21px;
    }

    @include r(576) {
      grid-gap: 5px;
    }
  }

  &__products--list {
    grid-template-columns: repeat(2, 1fr);

    .top-products__item {
      padding-top: 0;
    }

    .badges {
      z-index: 3;
      top: 5px;
      left: 9px;
    }

    .products-card {
      flex-direction: row;

      @include r(1200) {
        flex-direction: column;
      }
    }

    .top-products__btn {
      top: 54px;
      right: 8px;
    }

    .products-card__images {
      padding-bottom: 0;
      padding-top: 1px;
      margin-bottom: 0;
      max-width: 200px;
      max-height: 150px;

      @include r(1200) {
        align-self: center;
        margin-top: 35px;
      }
    }

    .products-card__img {
      position: static;
      max-width: 200px;
      max-height: 150px;
      width: 100%;
      height: 100%;
    }

    .availability {
      top: 12px;
      left: 48%;
    }

    .promotions-card__bottom-star {
      top: 10px;
      right: 13px;
    }

    .products-card__info {
      margin-top: 41px;
      padding: 0 18px 14px 21px;

      @include r(1200) {
        margin-top: 15px;
      }
    }

    .products-card__name {
      max-width: 172px;
      margin-right: 51px;
      margin-bottom: 15px;

      @include r(1200) {
        max-width: 100%;
        margin-right: 0;
      }
    }

    .products-card__form {
      @include r(1325) {
        display: none;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    @include r(576) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 26px;

      .promotions__button {
        max-width: 177px;
        padding: 12px 24px;
        margin-bottom: 24px;
      }
    }
  }
}

.select {
  display: block;
  width: 100%;
  position: relative;
}

.new-select {
  position: relative;
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $dark-500;
  background-color: $white;
  border: 1px solid $silver-600;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  padding: 14px 42px 14px 11px;
  transition: border-color linear 0.2s;

  &__list {
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid $silver-600;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: $white;
    user-select: none;
    border-top: 1px solid $dark-500;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid $silver-600;
    border-right: 1px solid $silver-600;
    transform: rotate(135deg);
    top: 16px;
    right: 17px;
    transition: transform linear 0.2s;

    @include r(576) {
      right: 10px;
    }
  }

  @include r(576) {
    font-size: 12px;
    padding: 15px 26px 16px 6px;
  }
}

.new-select.on {
  border: 1px solid $dark-500;
  border-radius: 3px 3px 0 0;

  &::after {
    transform: rotate(-45deg);
  }
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 14px 5px 14px 11px;
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $dark-500;
  transition: color linear 0.2s;

  &:hover {
    color: $green-900;
  }

  @include r(576) {
    font-size: 12px;
  }
}

.pagination {
  display: flex;

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: $silver-100;
    border-radius: 3px;
    position: relative;
    border: 1px solid transparent;
    outline: transparent;
    transition: box-shadow linear 0.2s,
    border-color linear 0.2s;
    
    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }
    
    &:hover {
      border-color: $silver-600;
    }
    
    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 13px;
      height: 13px;
      border-top: 1px solid #C1C1C1;
      border-right: 1px solid #C1C1C1;
      top: 18px;
      left: 21px;
    }
  }

  &__prev {
    margin-right: 6px;

    &::before {
      transform: rotate(225deg);
    }
  }

  &__next {
    margin-left: 6px;

    &::before {
      transform: rotate(45deg);
      left: 15px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }

    @include r(376) {
      &:nth-child(2n) {
        display: none;
      }
    }
  }

  &__link {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: $silver-100;
    border-radius: 3px;
    border: 1px solid transparent;
    outline: transparent;
    transition: box-shadow linear 0.2s, border-color linear 0.2s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      border-color: $silver-600;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__link--active {
    border-color: $dark-500;
  }
}

.catalog-advantages {
  @include r(576) {
    padding-bottom: 32px;

    .advantages__item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}