@import 'vars';
@import 'fonst';
@import 'reset';
@import 'global';
@import 'icons';
@import 'libs';
@import 'media';


.header__top {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  background-color: $dark-500;
  color: $white;
  text-align: center;
}

.menu {
  @extend %flex;
  padding: 14px 0;
  &__connection {
    @extend %flex;
    &-item {
    margin-right: 53px;
    position: relative;
    transition: opacity linear 0.1s, color linear 0.2s, stroke linear 0.2s;
    }
    &-item:last-child {
    margin-right: 0;
  }
  &-item:first-child:hover {
    opacity: 0.7;
  }
  &-item:first-child:active {
    color: #E0EDCF;
    stroke: #E0EDCF;
  }
  &-link {
      display: flex;
      align-items: center;
      outline: transparent;
    }
  }
  &__list {
    @extend %flex;
    &-item {
    margin-right: 26px;
   }
    &-item:last-child {
    margin-right: 0;
    }
    &-link {
      transition: border-radius linear 0.2s, box-shadow linear 0.2s;
      outline: transparent;
    }
    &-link:focus {
      box-shadow: 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }
  }
}

.header__centr {
  background-color: #63A60F;
  &-inner {
    @extend %flex;  
    justify-content: flex-start;
    padding: 25px 0;
  }
  &-logo {
    margin-right: 24px;
    outline: transparent;
  }
  &-products {
    @extend %opensans-600;
    width: 240px;
    height: 50px;
    border-radius: 6px;
    margin-right: 25px;
    background-color: $white;
    position: relative;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  &-products--active {
    background-color: #E0EDCF;
    border-radius: 6px 6px 0 0;
  }
  &-products::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 18px;
    background-image: url('../images/menu-catalog.svg');
    @extend %positioning-icons;
    width: 25px;
    height: 17px;
  }
  &-products::after {
    content: "";
    position: absolute;
    background-image: url('../images/arrow.svg');
    @extend %positioning-icons;
    width: 4px;
    height: 8px;
    top: 23px;
    right: 19px;
  }
  &-products--active::after {
    rotate: 180deg;
  }
  &-catalog {
    font-size: 14px;
    line-height: 1.4;
    color: #63A60E;
    padding: 15px 0 0 18px;
    position: absolute;
  }
  &-items {
   @extend %opensans-400;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: block;
    font-size: 16px;
    line-height: 1.2;
    color: $dark-000;
    background-color: $white;
    transform: translateY(-200%);
    transition: transform ease 0.5s;
  }
  &-items--active {
    transform: translateY(0);
    z-index: 4;
  }
  &-item {
    // padding: 15px 0 16px 24px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);;
  }
  &-item:last-child {
    border-bottom: none;
    border-radius: 0 0 0 6px;
  }
  &-link {
    padding: 15px 0 13px 21px;
    display: block;
    height: 43px;
    transition:  box-shadow linear 0.2s, border-radius linear 0.2s, color linear 0.2s, border linear 0.2s, padding linear 0.2s;
  }
  &-link:focus {
    box-shadow: 0 0 0 3px #E0EDCF;
    max-width: 238px;
  }
  &-link:hover {
    color: #63A60E;
    border-left: 3px solid #63A60E;
    padding-left: 18px;
  }
  &-link:active {
    color: #C1C1C1;
    border-left: none;
    padding-left: 24px;
  }
}

.form {
  @extend %flex;  
  @extend %opensans-600;
  flex-wrap: nowrap;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  position: relative;
  &__label {
    max-height: 50px;
    &-btn-search {
    position: absolute;
    top: 6px;
    left: 3px;
    padding: 10px;
    outline: transparent;
    transition: border-radius linear 0.3s, background-color linear 0.3s;
    }
    &-btn-search:focus {
    border-radius: 3px;
    background-color: rgba(80, 80, 80, 0.1);
    }
    &-btn-search:hover { 
      border-radius: 3px;
      background-color: rgba(80, 80, 80, 0.1);
    }
    &-btn-search:active {
      border-radius: 3px;
      background-color: rgba(80, 80, 80, 0.1);
    }
    &-btn-search svg:active {
      opacity: 0.5;
    }
  }
  &__textarea {
    @extend %opensans-400;
    width: 420px;
    height: 50px;
    background-color: $white;
    border-radius: 6px 0 0 6px;
    resize: none;
    padding: 15px 0 15px 51px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    outline: transparent;
  }
  &__textarea::placeholder {
    @extend %opensans-400;
    color: $dark-800;
    opacity: 1;
  }
  &__btn {
    margin-right: 45px;
    padding: 15px 52px;
    transition: background-color linear 0.2s, color linear 0.2s;
  }
  &__btn:focus {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  }
  &__btn:hover { 
    background-color: rgba(49, 53, 43, 0.85);
  }
  &__btn:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
  }
}

.user-nav {
  &__items {
    @extend %flex;
    align-items: center;
  }
  &__item {
    margin-right: 15px;
    position: relative;
  }
  &__item:first-child {
    margin-right: 14px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    outline: transparent;
    transition: box-shadow linear 0.2s, border-radius linear 0.2s, background-color linear 0.2s;
  }
  &__link:focus {
    box-shadow: inset 0 0 0 3px #EFF6E7;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  &__link:hover { 
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  &__link:active {
    box-shadow: inherit;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  &__link svg:active {
    opacity: 0.5;
  }
  &__num {
    font-size: 10px;
    line-height: 1;
    color: $red-900;
    position: absolute;
    padding: 4px;
    width: 18px;
    height: 18px;
    text-align: center;
    background-color: $white;
    border-radius: 50%;
    top: 3px;
    left: 2px;
  }
}

.slider {
  @extend %positioning-img;
  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__item {
    height: 600px;
    @extend %positioning-img;
    &-inner {
      width: 100%;
      @extend %flex-column;
      @extend %ruda-700;
      font-size: 60px;
      line-height: 1.3;
      padding: 24px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 4px;
      align-items: flex-start;
    }
    &-title {
      color: $dark-500;
      text-transform: uppercase;  
      max-width: 773px;
      width: 100%;
      letter-spacing: 2px;
    }
    &-title:nth-child(2) {
      color: $red-900;
      margin-bottom: 12px;
    }
    &-text {
      @extend %opensans-400;
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 32px;
    }
    &-link {
      color: $white;
      background-color: $green-900;
      cursor: pointer;
      outline: transparent;
      transition: box-shadow linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    }
    &-link:focus {
      box-shadow: 0 0 0 4px #E0EDCF;
    }
    &-link:hover { 
      background-color: #4D810C;
    }
    &-link:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.advantages {
  padding: 48px 0 29px 0;
  background-color: $silver-100;
  &__items {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
  &__item {
    @extend %flex-column;
    line-height: 1.4;
    max-width: 190px;
    width: 100%;
    position: relative;
    // margin-right: 65px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__item::before {
    content: "";
    @extend %positioning-icons;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: -74px;
  }
  &__item--scooter::before {
    background-image: url('../images/scooter.svg');
  }
  &__item--product::before {
    background-image: url('../images/product.svg');
  }
  &__item--24-hours::before {
    background-image: url('../images/24-hours.svg');
  }
  &__title {
    font-size: 16px;
    margin-bottom: 7px;
  }
  &__text {
    color: $dark-500;
  }
}

.top-products {
  text-align: center;
  &__title {
    margin-bottom: 30px;
  }
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;
  &__item {
    margin-right: 24px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__btn {
    @extend %opensans-700;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-500;
    border-bottom: 3px solid transparent;
    outline: transparent;
    transition: box-shadow linear 0.2s, border-radius linear 0.2s, color linear 0.2s, border-bottom linear 0.2s;
  }
  &__btn:focus {
    box-shadow: 0 0 0 3px #E0EDCF;
    border-radius: 3px;
  }
  &__btn:hover { 
    color: $green-900;
  }
  &__btn:active {
    border-bottom: 3px solid rgba(99, 166, 14, 0.2);
    box-shadow: none;
  }
}

.products {
  padding-top: 72px;
  &__link {
    color: $green-900;
    border: 1px solid $green-900;
    outline: transparent;
    transition: box-shadow linear 0.2s, background-color linear 0.2s, color linear 0.2s;
  }
  &__link:focus {
    box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
  }
  &__link:hover { 
    background-color: $green-100;
  }
  &__link:active {
    box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
    color: rgba(99, 166, 14, 0.5);
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
  }
  &__item {
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    text-align: left;
    @extend %opensans-600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $dark-900;
    padding-top: 56px;
    position: relative;
    max-height: 409px;
  }
  &__btn-heart {
    @extend %positioning-icons;
    position: absolute;
    top: 11px;
    right: 6px;
    display: flex;
    align-items: center;
    outline: transparent;
    padding: 9px 6px 6px 6px;
    transition: box-shadow linear 0.2s, border-radius linear 0.2s;
    &:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
      border-radius: 3px;
    }
    &:hover { 
      stroke: $yellow-900;
    }
    &:active {
      stroke: rgba(255, 184, 0, 0.5);
    }
  }
  &__badges-new {
    background-color: $green-900;
  }
   &__badges-hit {
    background-color: $orange-900;
   } 
   &__badges-promotion {
     top: 34px;
     background-color: $red-900;
   }
  &__img {
    max-height: 225px;
    height: 100%;
    margin-bottom: 18px;
  }
  &__img--dragon-fruit {
    max-height: 234px;
  }
  &__img--juice {
    max-height: 215px;
  }
  &__text {
    display: block;
    padding-left: 18px;
    padding-bottom: 49px;
    max-width: 278px;
    width: 100%;
    &--dragon-fruit {
      padding-bottom: 29px;
    }
    &--ketchup {
      padding-bottom: 9px;
    }
    &--carrot {
      padding-bottom: 29px;
    }
    &--juice {
      padding-bottom: 9px;
    }
    &--coffee {
      padding-bottom: 29px;
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px 18px 18px;
    @extend %opensans-400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $dark-500;
  }
  &__price-list {
    display: flex;
    flex-direction: column;
  }
  &__price-old {
    color: $silver-600;
    position: relative;
  }
  &__price-old::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid $silver-600;
    width: 100%;
    height: 50%;
    transform: rotate(-14.99deg);
  }
  &__price-basket {
    background-color: $green-900;
    border-radius: 3px;
    padding: 8px;
    &:focus {
      box-shadow: 0 0 0 4px #E0EDCF;
    }
    &:hover { 
      background-color: #4D800C;
    }
    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &__price-img {
    width: 16px;
    height: 15px;
    @extend %positioning-icons;
    &:active {
      opacity: 0.5;
    }
  }
}

.footer {
  background-color: $dark-800;
  @extend %opensans-400;
  font-size: 14px;
  line-height: 1.4;
  color: $white;
  padding: 30px 0 24px 0;
  &__inner {
    @extend %flex;
    align-items: baseline;
    padding-bottom: 30px;
  }
  &__border {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 28px
  }
  &__left {
    @extend %flex-column;
  }
  &__text {
    margin-top: 30px;
    margin-bottom: 18px;
  }
  &__form {
    display: flex;
    align-items: center;
  }
  &__form-textarea {
    padding: 12px;
    background-color: $white;
    border-radius: 6px 0 0 6px;
    resize: vertical;
    outline: transparent;
    height: 40px;
    max-width: 181px;
    &::placeholder {
      @extend %opensans-400;
      font-size: 14px;
      line-height: 1;
      color: #4F4F4F;
      opacity: 1;
    }
  }
  &__form-btn {
    @extend %opensans-700;
    font-size: 12px;
    line-height: 1.4;
    color: $white;
    background-color: $green-900;
    padding: 12px 17px;
    border-radius: 0 6px 6px 0;
    outline: transparent;
    transition: box-shadow linear 0.2s, background-color linear 0.2s, color linear 0.2s;
  }
  &__form-btn:focus {
    box-shadow: 0 0 0 4px #E0EDCF;
  }
  &__form-btn:hover { 
    background-color: #4D810C;
  }
  &__form-btn:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
  }
  &__center {
    column-count: 3;
    &-items {
      max-width: 467px;
      width: 100%;
    }
    &-item {
      padding-right: 10px;
      margin: 0 64px 18px 0;
    }
    &-item:last-child {
      padding-right: 0;
    }
    &-link {
    }
  }
  &__address {
    @extend %flex-column;
    font-style: normal;
    &-tel {
      margin-bottom: 18px;
    }
    &-street {
      margin-bottom: 18px;
    }
    &-web {
      @extend %flex;
      justify-content: start;
    }
    &-link {
      margin-right: 12px;
    }
    &-link:last-child {
      margin-right: 0;
    }
    &-networks {
      display: inline-block;
      @extend %positioning-icons;
      outline: transparent;
    }
    &-networks:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
      border-radius: 3px;
    }
    &-networks:hover { 
      opacity: 0.7;
    }
    &-networks:active {
      box-shadow: none;
    }
    &-networks svg:active {
    }
  }
  &__bottom {
    @extend %flex;
  }
  &__bottom-accept {
    @extend %flex;
  }
  &__bottom-img {
    margin-right: 24px;
  }
  &__bottom-img:last-child {
    margin-right: 0;
  }
}
